.hide {
    display: none !important;
}

.header img {
    height: 31px;
}

.footer, .header {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 10%;
    border: 1px solid red;
    display: block;
}

.footer {
    bottom: 0px !important;
}

.header {
    top: 0px;
}

div#body {
    position: absolute;
    top: 10%;
    border: 1px solid;
    left: 0;
    height: 80%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

ul {
    border: 1px solid red;
    padding: 0;
}

ul li {
    border: 1px solid green;
    list-style-type: none;
    padding: 15px;
    font-size: 35px;
    margin-bottom: 15px;
}
div#maps_canvas {
    position: absolute!important;
    height: 96%;
    width: 94%;
    border: 1px solid green;
}